<h2>Atualizar Servo</h2>

<form action="/servos/atualizar/{{servos.id}}" method="post">

    <label for="nome">Nome: </label>
    <input class="form-control" type="text" name="nome" id="nome" value="{{servos.nome}}">
    <label for="classe">Classe: </label>
    <input class="form-control" type="text" name="classe" id="classe" value="{{servos.classe}}">
    <label for="idade">Idade: </label>
    <input class="form-control" type="text" name="idade" id="idade" value="{{servos.idade}}">

    <label for="mestres">Mestres: </label>

    <select class="form-control" name="mestres">
        <option id="mestres" value="0">Selecione o Mestre (se haver)</option>
        {{#each mestres}}
        <option id="mestres" value="{{id}}">{{nome}}</option>
        {{else}}
        <option value="0">Nenhum mestre registrado</option>
        {{/each}}
    </select>

    <button class="btn btn-success mt-4 mt-2 px-3">Atualizar</button>
    <a href="/servos/home" class="btn btn-danger mt-4 mt-2 ms-2 px-3">Cancelar</a>

</form>